<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link href="./style.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
      var user = <%-JSON.stringify(user)%>;
           console.log(user);
    </script>

    <style>
      a {
        transition: 0.25s all;
      }

      .coolboy {
        margin-bottom: 40px;
      }

      .navbar-nav > li > .dropdown-menu {
        background-color: #e7e7e7;
      }

      .navbar-nav > li > .dropdown-menu a {
        color: #555555;
      }

      .footer {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 0.2 rem;

        text-align: center;
      }

      html {
        height: 100%;
        box-sizing: border-box;
      }

      body {
        position: relative;
        margin: 0;
        padding-bottom: 6rem;
        min-height: 100%;
      }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">BI-KEYING</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/orders/cycles">Your Cycles</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Orders
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/orders/cycles">Your Cycles</a>
              <a class="dropdown-item" href="/orders/previous"
                >Previous Bookings</a
              >

              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/orders/live">Live Bookings</a>
            </div>
          </li>
          <!-- <li class="nav-item">
                <a class="nav-link" href="/orders/live">Live Orders</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/orders/previous">Previous Orders</a>
              </li> -->
        </ul>
        <ul class="navbar-nav  navbar-right">
          <!-- <li class="nav-item">
                <a
                  class="nav-link"
                  href="/addcycle"
                  tabindex="-1"
                  aria-disabled="true"
                  ><i
                    class="fa fa-plus-circle text-primary fa-2x"
                    aria-hidden="true"
                  ></i>
                </a>
              </li> -->
          <li class="nav-item">
            <a
              class="nav-link active"
              href="/addcycle"
              tabindex="-1"
              aria-disabled="true"
              >Add Cycle</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href=""
              id="userdata"
              tabindex="-1"
              aria-disabled="true"
              >Username</a
            >
          </li>
          <li class="nav-item">
            <form
              class="form-inline my-2 my-lg-0"
              method="POST"
              action="/logout"
            >
              <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">
                Logout
              </button>
            </form>
          </li>
        </ul>
      </div>
    </nav>


    <div class="container py-3">
      <div class="row">
        <div class="col-md-12">
    
    
    
    
          <div class="row justify-content-center">
            <div class="col-md-6">
              <span class="anchor" id="formRegister"></span>
    
              <!-- form card register -->
              <div class="card card-outline-secondary">
                <div class="card-header">
                  <h3 class="mb-0">Add Cycle </h3>
                </div>
                <div class="card-body">
                  <form autocomplete="off" class="form" role="form" method="POST" action="/addcycle" enctype="multipart/form-data">
                    <div class="form-group">
                      <label for="inputName">Cycle Name</label>
                      <input class="form-control" id="inputName" placeholder="Brand Name (ex: Atlas yoga 271)" type="text" name="cycle_name">
                    </div>
                    <div class="form-group">
                      <label for="inputPICKUP3">Pick-Up Location</label>
                      <input class="form-control" id="inputPICKUP3" placeholder="Where's my Cycle" required="" type="text"
                        name="pickup_address">
                    </div>
                    <div class="form-group">
                      <label for="inputfromtime3">Bike is available from</label>
                      <input autocomplete="new-password" class="form-control" id="inputfromtime3" 
                        required="" type="datetime-local" name="from_time">
                      <!-- <small class="form-text text-muted" id="passwordHelpBlock">Your password must be 8-20 characters long,
                              contain letters and numbers, and must not contain spaces, special characters, or emoji.</small> -->
                    </div>
                    <div class="form-group">
                      <label for="inputtotime3">Bike is available till</label>
                      <input class="form-control" id="inputtotime3" 
                        required="" type="datetime-local" name="to_time">
                    </div>
                    <div class="form-group">
                      <label for="inputImage3">Image of Bike</label>
                      <input class="form-control-file" id="inputImage3" placeholder="Image of Bike" type="file" name="myFile" required>
                    </div>
                    <!-- <div class="form-group">
                            <label for="inputVerify3">Verify</label>
                            <input class="form-control" id="inputVerify3" placeholder="Password (again)" required=""
                              type="password">
                          </div> -->
                 
                    <div class="form-group">
                      <button class="btn btn-success btn-lg float-right" type="submit">Add Cycle</button>
                    </div>
                  </form>
                </div>
              </div><!-- /form card register -->
            </div>
          </div>
    
    
    
    
    
    
        </div>
        <!--/card-->
      </div>
    </div>
    <!--/row-->
    </div>
    <!--/col-->
    <!-- <div class="container">
      <h1>Log in</h1>
      <div class="" id="add-cycle-form">
        <form method="POST" action="/addcycle" enctype="multipart/form-data">
          <br />
          Cycle Name : <input type="text" name="cycle_name" /> <br />From user
          Pickup location : <input type="text" name="pickup_address" />
          <br />from time :
          <input type="datetime-local" name="from_time" /><br />
          to time : <input type="datetime-local" name="to_time" /><br />
          Upload cycle image if you want :
          <input type="file" name="myFile" /><br />

          <input type="submit" />
        </form>
        <br />
        <a href="/">Home</a>
      </div>
    </div> -->
    <!-- <div class="footer bg-dark text-secondary">
      Copyright &copy; 2020 All Rights Reserved by Cycool.
    </div> -->

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <script>
      var x = document.getElementById("userdata");
      x.href = "/users/" + user[0].id;
      x.innerHTML = user[0].name;
    </script>
  </body>
</html>
